{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<header class="header" data-header>
  <div class="container">
    <div class="overlay" data-overlay></div>
    <a href="#" class="logo">
      <img
        src="{% static 'image/zara-brand1.png' %}"
        width="150"
        height="60"
        alt="Footcap logo"
      />
    </a>

    <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <a href="#" class="logo">
        <img
          src="{% static 'image/logo.svg' %}"
          width="190"
          height="50"
          alt="Footcap logo"
        />
      </a>

      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="{% url 'index'%}" class="navbar-link">Home</a>
        </li>

        <li class="navbar-item">
          <a href="{% url 'About'%}" class="navbar-link">About Us</a>
        </li>

        <li class="navbar-item">
          <a href="{% url 'products_page'%}" class="navbar-link">Products</a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Shop</a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Blog</a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link">Contact</a>
        </li>
      </ul>

      <ul class="nav-action-list">
        <li>
            {% if user.is_authenticated %}
              <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
              <li><a class="navbar-link" href="{% url 'login' %}">Sign up</a></li>
             {% endif %}
        </li>
        <li>
          <button class="nav-action-btn">
            <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

            <span class="nav-action-text">Search</span>
          </button>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'Profile'%}" class="nav-action-btn">
            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

            <span class="nav-action-text">Login / Register</span>
          </a>
        </li>
        {% endif %}

        <li>
          <button class="nav-action-btn">
            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>

            <span class="nav-action-text">Wishlist</span>

            <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
          </button>
        </li>

        <li>
          <button
            class="nav-action-btn"
            onclick="window.location.href='{% url 'cart' %}'"
          >
            <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>

            <data class="nav-action-text" value="318.00"
              >Basket: <strong>$318.00</strong></data
            >

            <data
              class="nav-action-badge"
              value="4"
              aria-hidden="true"
              id="cart-count"
              >{{cartItems}}</data
            >
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
